### macOS ###
.DS_Store

### Text files ###
*.txt
*.pdf

### Exploit files ###
exploit_*.ml

### OCaml ###
*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa

### Binaries ###
bin/

### Logs ###
logs/
